font-family: 'DM Serif Display',
serif;
font-family: 'Padauk',
sans-serif;


html {
    font-size: 20px;
}

body {
    margin: 0;
    min-height: 1024px;
    background: #001124;

}

button,
input {
    overflow: visible;
}



.container {

    display: flex;
}

.image {
    width: 700px;
    height: 550px;
    background-image: url(..//img/login\ 1.png);
    background-repeat: no-repeat;
    margin-top: 190px;
}

.form {
    width: 363px;
    height: 374px;
    padding-top: 233px;
    padding-left: 105px;
}

.login {
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 42px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

label {
    
    font-family: 'Padauk';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #FFFFFF;
}

input {
    width: 361px;
    height: 43px;
    padding: 0;
    border: none;
}

.register {
    width: 212px;
    height: 29px;
    font-family: 'Padauk';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #499FFE;
}

a {
    text-decoration: none;
    color: #499FFE;
}

button .btn {
    width: 55px;
    height: 29px;
    font-family: 'Padauk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}

button {
    width: 180px;
    height: 43px;
    background: #015FC7;
    padding: 0;
    border: 0;
    margin-top: 14px;
}

button>a {
    color: #FFFFFF;
}