html {
    font-size: 16px;
    --black: #171717;
    --red: #D83933;
    --blue: #0050D8;
    --grey: #747474;
}

body {
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    background-color: #E5E5E5
}

.top {
    margin-left: 40px;
}

.form {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 30px;


}

.form__maternity {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 30px;
}



.form__official {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 30px;
    width: 48%;
}

.form>div {
    width: 48%;
    

}

.header {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 64px;
    margin-bottom: 79px;
    display: block;
    color: var(--black);

}

.header__mandatory {
    font-size: .8rem;
    font-weight: 400;
    margin-bottom: 24px;
    display: block;
    color: var(--black);

}

.red {
    color: var(--red);

}

.smaller__font {
    font-size: .8rem;
}

.header_information {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 32px;
    display: block;
    color: var(--black);
    font-weight: 700;
    margin-top: 30px;
    margin-left: 40px;
}

.blank__form {
    margin-top: 24px;
    font-weight: 500;
    position: relative;


}

.blank__form label {
    font-weight: 500;
}

.appregistr {
    color: var(--blue)
}

:empty div {
    visibility: hidden;
}

.blank__form input,
.blank__form select {
    max-width: 300px;
    min-width: 100%;
    height: 40px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    background: #FFFFFF;
    margin-top: 8px;

}

.blank__form input[type="checkbox"],
.purged input[type="checkbox"] {
    width: 24px;
    height: 24px;
    min-width: 0;
    margin-right: 8px;
    accent-color: #FF00FF;
    border-radius: 2px;
}

.blank__form label.checkbox,
.blank__forms input[type="checkbox"],
.checkbox span {
    display: inline-block;
}



.purged {
    margin-top: 156px;
}

.search::after {
    position: absolute;
    content: '';
    display: block;
    background-image: url(./img/search.png);
    width: 20px;
    height: 20px;
    right: 24px;
    top: 36px;
}

.blue {
    color: var(--blue)
}

.button {
    display: block;
    width: 70px;
    height: 40px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #0050D8;
    text-align: center;
    line-height: 40px;
    margin-left: auto;
    margin-top: 14px;
    margin-right: 40px;
    text-decoration: none;
}