
body{
    margin:0; }

    
.page {

    background-color: #F0FFF0;
    width: 100%;
    height: 768px;
    
}

.window {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: black;
    width: 404px;
    height: 490px;
    

}

.logo {

text-align: center;
padding-top: 10px;

}
.head {
    font-size: 29px;
    font-weight: bolder;
    text-align: center;
    color: white;
    margin:26px
}

.button1 {

    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: white;
    border-width: 4px;
    border-style: solid;
    border height: 50px;
    border-color: white;
    width: 300px;
    margin: 32px auto 26px auto; 
    padding: 10px;
text-transform:uppercase

}
.button2 {

    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: white;
    border-width: 4px;
    border-style: solid;
    border height: 50px;
    border-color: white;
    width: 300px;
    margin: 26px auto 26px auto; 
    padding: 10px;
text-transform:uppercase

