html {
    font-size: 22px;
    --white: #FFFFFF;
    --black: #202846;
    --grey: #353C57;
    --grey_light: rgba(0, 0, 0, 0.61);
    --color-blue: #243B93;

}

body {
    margin: 0;
    background-color: #FBE4FF;
    font-family: 'PT Sans';
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    /*header start*/
}

header {
    width: 100%;
    height: 65px;
    background-color: var(--color-blue);
    justify-content: space-between;
    align-items: center;
    color: var(--white);

}

.container {
    width: 80%;
    margin: 0 auto;
}

.header,
.nav {
    display: flex;
    margin: 0;
}

.nav {

    justify-content: space-between;
    padding-left: 158px;
    padding-right: 50px;


}

.nav .nav__item {
    flex-grow: 1;
}

.nav .nav__item-link {
    width: 100%;
    display: inline-block;
    padding: 15px;
    font-size: .8rem;
    font-weight: 700;
    text-align: center;
    line-height: 21px;

}

.nav__item-link_lang {
    width: 100%;
    display: inline-block;
    padding: 15px 9px;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    line-height: 21px;

}

.nav__item_lang {
    padding-top: 7px;
    padding-left: 57px;
}

.lang {

    padding-top: 7px;
    text-align: center;
}

.logo {
    padding-top: 7px;
}

.lang_text {
    padding-left: 9px;
    font-size: 1.3rem;
    font-weight: 700;
}

.header_2 {
    width: 100%;
    height: 85px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 21px;
    line-height: 57px;
    font-style: italic;
    color: var(--black);
    background-color: #BFF0FF;
}

/*header end*/

/*main start*/

.choose_place {
    width: 80%;
    height: 57px;
    text-align: center;
    color: var(--grey_light);
    background-color: white;
    margin: 27px auto;
    padding-top: 10px;
    line-height: 54px;
}

.card {
    margin: 40px auto;
    background: linear-gradient(45deg, #ADCBD4, #00AEE5);
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.card__img {
    float: left;
    width: 447px;
    height: 250px;
    padding: 30px;
}

.card__main {
    flex-grow: 3;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}

.card__title {
    width: 90%;
    font-size: 1.7rem;
    font-style: italic;
    font-weight: 700;
    border-bottom: 3px solid var(--white);
    color: #353C57
}

.card__text {
    width: 90%;
    height: 190px;
    border: 1px #000000;
    background: var(--white);
    margin-top: 10px;
    padding: 10px 10px 0;

}


.card__star {
    background-image: url(./img/img_star.png);
    width: 48px;
    height: 46px;
    top: 5px;
    right: 5px;
    position: absolute;


}

.card__button {
    display: block;
    width: 210px;
    height: 46px;
    background-color: #243B93;
    border-radius: 30px;
    padding-top: 10px;
    top: 230px;
    right: -24px;
    text-align: center;
    position: absolute;
    color: var(--white)
}

.card:hover {
    background: rgba(44, 189, 235, 1);
    box-shadow: 0px 0px 40px 4px rgba(44, 189, 235, 1);
}

.card:hover>.card__star {
    background-image: url(./img/img_star_yellow.png);
}

.card:hover>.card__button {
    background-color: #EF075B;
}

.arrow {
    display: block;
    background-image: url(./img/Arrow.png);
    width: 101px;
    height: 101px;
    position: fixed;
    top: 70%;
    right: 5%
}

.arrow:hover {
    background-image: url(./img/Arrow.png);
    transform: scale(1.1);
}
/*main end*/