html {
    --black: #000000;
    --white: #FFFCFC;
    --hover: rgba(163, 83, 10, 0.7);
    --color__text-form: rgba(0, 0, 0, 0.5);
    font-family: 'Rosario', sans-serif;
    font-size: 20px;


}

body {
    margin: 0 auto;
    background-color: var(--white);
    overflow-x: hidden;
}

/* header*/
header {
    height: 129px;
    min-width: 1366px;
    background-color: var(--black);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 8;
}

.menu {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-left: 630px;
    margin-top: 37px;
}

.menu__nav {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--white);
    font-style: italic;

}

/* header*/

/*main_1*/

.main {
    display: flex;
    justify-content: center;
}

.left_1 {
    margin: 189px 63px 179px 43px;
    animation: left_1 1s;
}

.center_1 {
    width: 465px;
    margin: 9px;
    animation: center_1 1s;
}

@keyframes center_1 {
    0% {
        transform: translateX(-150%);
    }
}

.center_2 {
    width: 465px;
    margin: 9px;
    animation: center_2 1s;
}

@keyframes center_2 {
    0% {
        transform: translateX(150%);
    }
}


.right_1 {
    margin: 189px 63px 179px 43px;
    animation: right_1 1s;
}

.first__img {
    margin-top: 42px;
}



@keyframes right_1 {
    0% {
        transform: translateX(100%);
    }
}



@keyframes left_1 {
    0% {
        transform: translateX(-150%);
    }
}

/*main_1*/

/*services*/


.services {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}

.menu_services {
    width: 50%;
    display: flex;
    position: relative;
}

.services1,
.services2 {
    width: 50vw;
    text-align: center;
    font-style: italic;
    font-size: 2.4rem;
}

.hair_style {
    box-sizing: border-box;
    margin-top: 52px;
    animation: hair_style 15s infinite;
}

.smooth_shave {
    box-sizing: border-box;
    margin: 52px;
    animation: smooth_shave 15s infinite;
}

.beard_trim {
    box-sizing: border-box;
    margin-top: 52px;
    animation: beard_trim 15s infinite;
}

.hair_straight {
    box-sizing: border-box;
    margin-top: 52px;
    animation: hair_straight 15s infinite;
}

@keyframes hair_style {
    0% {
        transform: translate(0px, 0);
    }

    25% {
        transform: translate(495px, 0);
    }

    50% {
        transform: translate(495px, 495px);
    }

    75% {
        transform: translate(0, 495px);
    }

    100% {
        transform: translate(0px, 0);
    }
}

@keyframes beard_trim {
    0% {
        transform: translate(0px, 0);
    }

    25% {
        transform: translate(0, 495px);
    }

    50% {
        transform: translate(-495px, 495px);
    }

    75% {
        transform: translate(-495px, 0px);
    }

}

@keyframes smooth_shave {
    0% {
        transform: translate(0px, 0);
    }

    25% {
        transform: translate(0, -495px);
    }

    50% {
        transform: translate(495px, -495px);
    }

    75% {
        transform: translate(495px, 0px);
    }
}

@keyframes hair_straight {
    0% {
        transform: translate(0px, 0);
    }

    25% {
        transform: translate(-495px, 0);
    }

    50% {
        transform: translate(-495px, -495px);
    }

    75% {
        transform: translate(0, -495px);
    }
}

/*services*/

/*team*/

.title {
    text-align: center;
    font-size: 4.8rem;

    padding: 65px;
}

.team {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.team_name {
    display: none;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Volkhov', serif;
    font-size: 2.4rem;
    color: var(--white);
    background-color: var(--hover);
    width: 400px;
    height: 150px;
    position: absolute;
    padding: 50px;
    border-radius: 0 0 39px 39px;
    margin: -154px 0;
}

.card:hover .team_name {
    display: block;
}


.cards .card:hover {
    filter: none;
}

/*team*/

/*footer*/
.container {
    width: 80%;
    margin: 50px auto;
    display: flex;
}


.title_contact {

    font-style: italic;
    font-weight: 700;
    font-size: 3.2rem;
    text-align: center;
    margin: 17px;
}

.items {
    width: 936px;
    height: 400px;
    background-color: #E5E5E5;
    box-sizing: border-box;
}

input {
    border: 1px solid #FFFCFC;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.5);

}

#name {
    width: 377px;
    height: 80px;
    margin: 35px 25px;
}

#email {
    width: 452px;
    height: 80px;
    margin: 35px 18px;
}

#message {
    width: 878px;
    height: 209px;
    margin: 0 25px;
}

.map {
    margin: 34px;
}

a {
    text-decoration: none;
    color: black;
}

.footer {
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.contacts {
    width: 30%;
    text-align: center;
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    font-size: 30px;
    color: black;
}

.hours {
    font-size: 1.8rem;
    padding-bottom: 43px;
}

.link {
    text-align: left;
}

.link_img {
    margin: 0 10px;
}

.social {
    margin: 0 150px;
}