:root {
    --color-blue: #0072DB
}

.body {
    margin: 0
}

.head {
    Font-family: 'Inika';
    font-size: 48px;
    color: black;
    margin: 25px auto 30px auto;
    text-align: center;
    text-transform: uppercase;
}

#blue {
    color: #3E45E8
}

#yellow {
    color: #E8C23E
}

.bgimage {

    background-image: url("./img/BG.png");
    background-size: 100% no-repeat center top
}

.banner {
    width: 100%;
    height: 766px;
    margin: 0 auto;
    background: linear-gradient(45deg, rgba(35, 35, 35, .35), rgba(35, 35, 35, .35)), url(./img/BG.png), url(./img/img\ прапор_vertical.png);

}

.flag {
    margin-left: 80px;
    position: relative;
    top: 240px
}

#banner_text {
    Font-family: 'Inika';
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    padding: 226px 263px 236px 141px;
    position: absolute;
    color: #FFFFFF;
    line-height: 157%;

}

.H2 {
    Font-family: 'Inika';
    font-size: 40px;
    font-weight: 700;
    margin-left: 80px;
    margin-top: 48px;
    text-transform: uppercase;

}


.cards {
    min-width: 992px;
    max-width: 1200px;
    margin: 42px auto;

}

.card {
    display: inline-block;
    width: 30%;
    border: 5px solid #0D095F;
    min-height: 481px;
    vertical-align: top;
    border-radius: 34px;
    box-shadow: -16px 21px 40px rgba(0, 209, 255, 0.35);
}

.card-margin {
    margin: 0 3%
}

.card__img>img {
    width: 100%;
}

.card__title {
    font-family: 'Inika';
    color: var(--color-blue);
    font-weight: 700;
    font-size: 24px;
    line-height: 157.3%;
    padding-left: 10px;
}

.card__description {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 157.3%;
    padding-left: 10px;
    color: #FF9900;
}

.H3 {
    Font-family: 'Inika';
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-bottom-color: #1400FF;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    padding: 6px;
    margin: 45px auto;
    width: 600px;


}

.ua__map {
    text-align: center;
    margin-top: 32px;

}

.button {
    display: block;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    width: 500px;
    height: 81px;
    background-color: #2A61F0;
    color: white;
    border-radius: 50px;
    margin: 23px auto;
    text-decoration: none;
    padding: 10px;
}

.footer {
    width: 100%;
    height: 233px;
    background: linear-gradient(180deg, #013235 0%, #0D0661 100%);
    padding: 6px;
}

.bottom__text {
    Font-family: 'Inika';
    font-size: 48px;
    color: black;
    text-align: center;
    text-transform: uppercase;
}

.footer__text {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    color: #A89D9D;
    text-decoration: none;
    text-transform: uppercase;

}

.icons{
    margin: 3px auto; 
    text-align: center
}

.icon{
   margin: 8px; 
   display: inline-block;
   
}

