* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    --white: #ffffff;
    --black: #0C1116;
    --black-header: #24292C;
    --blue: #00A6ED;
    --bg-head-table: #F8FBFC;
    --block-border: #DDE7EC;
    --background: #F3F7F9;
    --yellow: #F2C94C;
    --blue-text: #2D9CDB;
    --green: #27AE60;
    --red: #EB5757;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Root UI', sans-serif;
    background-color: var(--background);
    cursor: pointer;

}

a {

    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}




.header__bg {
    height: 64px;
    background-color: var(--black-header);
    color: var(--white);
}

.header,
.nav,
.avatar {
    display: flex;
}

.header {
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

.hoster {
    padding-left: 15px;

}

.nav {
    width: 50%;
    justify-content: space-between;
}

.header__nav {
    flex-grow: 1;
}

.header__link {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 1.15rem;
    font-weight: 700;
    color: var(--white);
}

.header__link:hover {
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
    padding-bottom: 4px;
}


.header__cabinet {
    font-family: 'PT Root UI', sans-serif;
    font-style: normal;
    justify-content: space-between;
    padding-right: 50px;
    align-items: center;
    display: flex;

}


.header__not {
    width: 55px;
    height: 55px;
    background-image: url(./img/notification.png);
    align-items: center;
    position: flex;

}


.header__cabinet__img::before {
    content: url(./img/avatar.png);
    position: flex;
    width: 40px;
    height: 40px;
    display: inline-block;
    padding-left: 19px;
    padding-right: 16px;

}

.header__cabinet__avatar::after {
    content: url(./img/arrow.png);
    display: inline-block;
    width: 8px;
    height: 4px;
    padding-left: 20px;
    align-items: center;

}


.header__cabinet__avatar {
    display: flex;
    font-family: 'PT Root UI', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.15rem;
    align-items: center;

}









.container {
    width: 80%;
    margin: 0 auto;

}

.main__title {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}

.table_title {
    font-weight: 700;
    font-size: 2.3rem;
}

.update {
    width: 127px;
    height: 40px;
    background: var(--white);
    border: 1px solid #CDDBE4;
    border-radius: 12px;
    font-weight: 700;
    font-size: 1.15rem;
    padding: 0;
    color: var(--black)
}



.update::before {
    content: url(./img/update.png);
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle;
}



table {
    background: var(--white);
    border-spacing: 0px;
    border: 1px solid var(--border);
    border-radius: 24px;
    margin-top: 16px;
    margin-bottom: 88px;
}

.head__table {
    height: 87px;
    background-color: var(--bg-head-table);
    color: var(--black);
    text-align: left;
    align-items: center;
}


tr,
th,
td {
    padding: 0;
    margin: 0;
}

.search>* {
    margin: 8px 32px 32px;
}

.search:nth-child(1) {
    border-top-left-radius: 24px;
}

.search:nth-child(6) {
    border-top-right-radius: 24px;
}

label[for="application"] {
    background-image: url(./img/arrow_down.png);
    background-repeat: no-repeat;
    background-position-x: right;
    padding-right: 60px;
    margin-left: 32px;

}

label[for="Priority"] {
    background-image: url(./img/arrow_down.png);
    background-repeat: no-repeat;
    background-position-x: right;
    padding-right: 38px;
}

.search input {
    background-image: url(./img/search.png);
    background-repeat: no-repeat;
    background-position: 11px;
    padding: 11px 11px 11px 26px;
    font-style: normal;
    font-weight: 500;
    font-size: .7rem;
}

input[id="Date"] {
    background-image: url(./img/date.png);
    background-repeat: no-repeat;
    background-position: 11px;
    padding: 11px 11px 11px 26px;
}

input[type="text"] {
    box-shadow: 0px 3px 6px rgba(0, 23, 33, 0.04), 0px 6px 12px rgba(0, 23, 33, 0.04), 0px 10px 20px rgba(0, 23, 33, 0.04), 0px 0px 1px rgba(0, 98, 140, 0.7);
    border: 1px solid var(--border);
    border-radius: 8px;
}

input[id="title"],
[id="Contractor"] {
    width: 208px;
    height: 32px;
    margin-left: 22px;
}

input[id="application"] {
    width: 112px;
    height: 32px;
    margin-left: 32px;
}

input[id="Date"] {
    width: 136px;
    height: 32px;
    margin-left: 22px;
}

input[id="Priority"] {
    width: 90px;
    height: 32px;
    margin-left: 22px;
}

input[id="Status"] {
    width: 159px;
    height: 32px;
    margin-left: 22px;
}





tbody {
    font-weight: 400;
    align-items: center;
    position: relative;
}

td,
th {
    border-top: 1px solid var(--border);
}

tr>td:nth-child(1) {
    text-align: right;
    padding-right: 16px;
}

tr>td:nth-child(5) {
    text-align: right;
    padding-right: 16px;
}

tr>td {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
}

tbody tr:hover {
    background: #F8FBFC;
}

tr>td:nth-child(6) {
    display: flex;
    justify-content: space-between;
    padding-right: 18px;
}

.yellow {
    color: var(--yellow);
}

.blue {
    color: var(--blue-text);
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}






tfoot {
    height: 100px;
}

.page__tfoot {
    font-style: normal;
    font-weight: 400;
    font-size: .7rem;
}

.button {
    text-align: left;
    padding-left: 40px;
}

.next__page {
    cursor: pointer;
    background: var(--white);
    border-radius: 8px;
    border: 1px solid var(--white);
}

.next__page:hover {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: var(--blue);
    border-radius: 8px;
    border: 1px solid var(--blue);
    color: var(--white);
}

.output__tfoot>input {
    width: 56px;
    height: 32px;
    border: 1px solid var(--border);
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 8px;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}













.popup {
    width: 192px;
    height: 172px;
    background-color: var(--white);
    box-shadow: -2px -1px 20px rgba(74, 74, 74, 0.1);
    border-radius: 16px;
}

.popup__list {
    font-style: normal;
    font-weight: 400;
    padding: 20px;
}

.popup__list li {
    display: flex;
}

.img1::before {
    content: url(./img/edit.png);
    display: inline-block;
    padding-right: 12px;
    padding-bottom: 10px;
}

.img2::before {
    content: url(./img/person.svg);
    display: inline-block;
    padding-right: 12px;
    padding-bottom: 10px;
}

.img3::before {
    content: url(./img/download.svg);
    display: inline-block;
    padding-right: 12px;
    padding-bottom: 10px;
}

.img4::before {
    content: url(./img/close.svg);
    display: inline-block;
    padding-right: 10px;
}

table:hover+.popup {
    position: absolute;
    right: 78px;
    top: 500px;
}






