*{
    box-sizing: border-box;
}

html{
    font-size: 20px;
}

button,
input { 
    overflow: visible;
}


body{
    margin: 0;
    padding: 0;
    font-style: normal;
}

.container{
    min-height: 1024px;
    background: #001124;
    display: flex;
}

.image{
    width: 392px;
    height: 666px;
    background-image: url(..//img/Reg.png);
    background-repeat: no-repeat;
    margin-top: 117px;
    margin-left: 143px;
}

.form{
    width: 361px;
    height: 809px;
    padding-top: 107px;
    padding-left: 229px;
}

.registration{
    width: 353px;
    height: 62px;
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 45px;
    line-height: .8;
    color: #FFFFFF;
    
}

label{
    width: 48px;
    height: 29px;
    font-family: 'Padauk';
    font-weight: 400;
        line-height: 1.5;
    color: #FFFFFF;
}

label[for="Pass"], label[for="parents"]{
    width: 202px;
    display: flex;
}

input{
    width: 361px;
    height: 43px;
    border: none;
}

a{
    text-decoration: none;
    color: #499FFE;
}

button .btn{
    width: 69px;
    height: 29px;
    font-family: 'Padauk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}

button{
    width: 180px;
    height: 43px;
    background: #015FC7;
    padding: 0;
    border: 0;
    border-radius: 5px;
    margin-top: 37px;
    margin-left: 90px;
}

button>a{
    color: #FFFFFF;
}
